.checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}

.indicator, .label {
  padding: 0;
  background-color: transparent;
  border: none;
}

.indicator {
  position: relative;
}

.indicator img {
  display: block;
}

.selected {
  position: absolute;
  top: 0;
  left: 0;
}