.header {
  margin-bottom: 27px;
  text-align: center;
}

.email {
  margin-bottom: 24px;
}

.password {
  margin-bottom: 12px;
}

.helpRightText {
  margin-bottom: 66px;
  text-align: right;
}

.action {
  margin-bottom: 20px;
}

.helpContent {
  text-align: center;
}

.helpContentText {
  margin-bottom: 7px;
}