.header {
  margin-bottom: 27px;
  text-align: center;
}

.email {
  margin-bottom: 19px;
}

.helperText {
  margin-bottom: 65px;
  color: var(--color-light-900);
  opacity: .5;
}

.action {
  margin-bottom: 20px;
}

.helpContent {
  text-align: center;
}

.helpContentText {
  margin-bottom: 7px;
}